{include file="public/header"}
{include file="public/menu"}
<link rel="stylesheet" href="__STATIC__/css/style_table.css" type="text/css">

<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="side-body padding-top">

<div id="container">

</div>
    <div style="height: 40px;background-color: #00a0e9; border-radius: 5px; ">
        <p style="font-size: 25px; color: white; line-height: 40px; margin-left: 5px; float: left;margin-right: 10px;">数据列表</p>
    </div>
	<table class="zebra">
        <thead>
        	<tr>
				<th width="50%">会员ID</th>
				<th width="50%">金额</th>

            </tr>
		</thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>500</td>
        </tr>
        <tr>
            <td>1</td>
            <td>500</td>
        </tr>
        <tr>
            <td>1</td>
            <td>500</td>
        </tr>
        <tr>
            <td>1</td>
            <td>500</td>
        </tr>
        </tbody>
	</table>

    </div>
</div>
{include file="public/footer"}
<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui/js/H-ui.js"></script>
