{include file="public/header"}
{include file="public/menu"}
<link rel="stylesheet" href="__STATIC__/css/style_table.css" type="text/css">
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="side-body padding-top">

        <!--<h1>登录表单</h1>-->

        <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">上下分总账</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="post" action="{:url('Agent/up_down_accounts',['sure'=>1])}">
                                <div class="sub-title">开始日期</div>
                                <div>
                                    <input type="text" placeholder="开始日期" required="" name="start_time" class="form-control" id="countTimestart" onfocus="selecttime(1)" value="">
                                </div>
                                <div class="sub-title">结束日期</div>
                                <div>
                                    <input type="text" placeholder="结束日期" required="" name="end_time" class="form-control" id="countTimestart" onfocus="selecttime(1)" value="">

                                </div>
                                <div class="sub-title"></div>
                                <div>
                                    <button type="submit" class="btn btn-info">确定</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

        <div id="container" ></div>
        <div class="chaxun_data" style="display: {if condition='$sure eq 1'}block;{else}none;{/if}">
            <table class="zebra">
                <tbody>
                <tr>
                    <td>充值订单:  <span class="label label-success radius">0.00</span></td>
                    <td>兑换总额:  <span class="label label-success radius">0.00</span></td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;注册送:  <span class="label label-success radius">0.00</span></td>
                    <td>&nbsp;&nbsp;&nbsp;活动送:  <span class="label label-success radius">0.00</span></td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;申请送:  <span class="label label-success radius">0.00</span></td>
                    <td>&nbsp;&nbsp;&nbsp;平台送:  <span class="label label-success radius">0.00</span></td>
                </tr>
                </tbody>
            </table>
            <div style="height: 40px;background-color: #00a0e9; border-radius: 5px; margin-top: 10px;">
                <p style="font-size: 25px; color: white; line-height: 40px; margin-left: 5px; float: left;margin-right: 10px;">数据列表</p>
                <span class="label label-primary radius" style="float: left;line-height: 25px; margin-top: 6px;margin-right: 4px;">充值总累计: 0.00</span>
                <span class="label label-primary radius" style="float: left;line-height: 25px; margin-top: 6px;margin-right: 4px;">兑换总累计: 0.00</span>
                <span class="label label-primary radius" style="float: left;line-height: 25px; margin-top: 6px;margin-right: 4px;">总计: 0.00</span>
            </div>
            <table class="zebra">
                <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="10%">账号</th>
                    <th width="10%">充值</th>
                    <th width="10%">注册送</th>
                    <th width="15%">活动送</th>
                    <th width="10%">申请送</th>
                    <th width="10%">平台送</th>
                    <th width="10%">兑换</th>
                    <th width="10%">小计</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>

                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{include file="public/footer"}
<script src="__STATIC__/hui/lib/My97DatePicker/WdatePicker.js"></script>